/* global css for the project - basic tweaks to margins */
html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    min-height: 100vh;
    color: #F7F7FF;
    background-color: #131112;
}